<div class="center top-margin">

    <div class="ui primary segment">

        <h2>Loading (<%= scene.name %>)</h2>

        <div class="ui divider"></div>
        <div class="ui red striped progress">
            <div id="scene-loading-progress" class="bar"></div>
        </div>

        <div id="start-btn-grid" class="ui grid" style="display: none">
            <div class="right aligned column">
                <div class="ui divider"></div>
                <div id="start-btn" class="ui right labeled icon button">
                    <i class="right arrow icon"></i>
                    Start
                </div>
            </div>
         </div>

        <%  if(error) { %>
            <div id="loading-error" class="ui error message">
                <div class="header">
                    Error on scene loading:
                </div>
                <%= error %>
            </div>
        <% } %>

    </div>

</div>