<!--
<div class="ui segment no-margin no-border-radius">


    <div class="ui two column grid">

        <div class="column">
            <h2 class="ui header"><%= scene.name %></h2>
        </div>

        <div class="column" style="text-align: right">

            <div class="ui labeled red icon button">
                <i class="left arrow icon"></i>
                Back to projects
            </div>
        </div>

    </div>

</div>
-->

<div id="3d-view"></div>

<!--
<div id="player-controls" class="ui yellow inverted segment no-margin no-border-radius no-padding width-100">

<div class="yui3-g">

<div class="yui3-u-1-3">
    <div class="ui white icon button"><i class="backward icon"></i></div>
    <div class="ui white icon button"><i class="play icon"></i></div>
    <div class="ui white icon button"><i class="forward icon"></i></div>
</div>

<div class="yui3-u-1-3">

    <div class="slider-wrapper">
        <div id="slider"></div>
    </div>

</div>

<div class="yui3-u-1-3" style="text-align: right">
    <div class="ui white icon button"><i class="fullscreen icon"></i></div>
</div>

</div>

</div>
-->
