<div class="ui segment no-margin no-border-radius">

    <div class="ui two column grid">

        <div class="column">
            <h2 class="ui header"><%= scene.name %></h2>
        </div>

        <div class="column" style="text-align: right">

            <div class="ui labeled red icon button">
                <i class="left arrow icon"></i>
                Back to projects
            </div>
        </div>

    </div>

</div>

<div id="3d-view"></div>


<div id="player-controls" class="ui segment no-margin no-border-radius no-padding width-100 yellow-bg">
    <div class="ui icon buttons">
        <div class="ui button">
            <i class="pause icon"></i></div>
        <div class="ui button">
            <i class="play icon"></i></div>
        <div class="ui button">
            <i class="shuffle icon"></i></div>
    </div>
</div>
